@charset "utf-8";

/*
 * UI Components
 */


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: unset;
}


/* Content / Post (Basic Styles) */
blockquote {
  position: relative;
  padding: .9375rem 0 .9375rem 1.75rem;
  margin: 1.5rem 0;
  border-left: 5px solid var(--border-light);
  background-color: rgba(136, 136, 136, .1);
}
blockquote p:last-of-type {
  margin: 0;
  padding: 0;
}
pre {
  position: relative;
  overflow-y: auto;
  border: 0;
  color: #777;
  border-radius: var(--radius-xl);
  padding: .75rem;
  margin: 1.5rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, .04);
}
table {
  width: 100%;
}
th, td {
  border: 1px solid rgba(136, 136, 136, .3);
  padding: 8px 12px;
}

/* Site Body */
.siteico {
  background: #e6e8ed;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-xl);
  border-radius: var(--radius-2xl);
  transition: background-color var(--transition-normal);
}
.siteico:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.blur {
  filter: blur(15px);
}
.blur-layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: .2;
}
.img-cover {
  max-width: 90% !important;
  min-width: 72px !important;
  max-height: 90% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: var(--radius-xl);
}
.site-body .btn {
  border-radius: var(--radius-xl);
  padding: 7px 16px;
  background-color: rgba(138, 138, 138, .15);
  transition: var(--transition-normal);
}
.site-body .btn:hover {
  color: var(--bg-white);
  background: #202224;
}
.site-body .btn:active {
  box-shadow: unset;
}
.site-body .site-go .btn {
  margin-bottom: 10px;
}
.site-go-url {
  position: relative;
}
.site-go-url .spare-url {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  transition: var(--transition-normal);
}
.site-go-url-spare-link {
  white-space: nowrap;
}
.site-go-url:hover .spare-url {
  opacity: 1;
  visibility: visible;
  margin-top: -10px;
}
.card-post .flex-avatar {
  padding: 2px !important;
}
@media screen and (max-width:575.98px) {
  .siteico:before {
    padding-top: 60%;
  }
}
